.git
.gitignore
.gitattributes
.github

__pycache__
*.py[cod]
*.egg-info
.pytest_cache
.mypy_cache

venv
.venv
env

.vscode
.idea
*.swp

assets
*.png
*.jpg
*.jpeg

README.md
Dockerfile
docker-compose.yml
.dockerignore
